body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

form {
    max-width: 400px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }


  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  #submitbutton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #submitbutton:hover {
    background-color: #45a049;
  }


  button:hover {
    background-color: grey;
  }

#comitment-spans{
    color: #45a049;
}


#first-div{
  margin-left: 50%;
  padding-top: 5%;
}


#second-div{
  margin-left: 50%;
  margin-top: 4%;
}

#third-div{
  margin-left: 50%;
  margin-bottom: 5%;
}

#pic3{
  width: 36%;
  display: flex; 
  margin-top: -60%; 
  margin-bottom: 2%; 
  margin-left: 5%;
}

#contactForm{
  padding-bottom: 5%;
}




@media only screen and (max-width: 600px) {
  .first-div-pictures{
    display: none;
  }

  #first-div{
    margin-left: 10%;
  }

  #second-div{
    margin-left: 10%;
  }

  #third-div{
    margin-left: 10%;




  }

  #contactForm{
    background-image: url();
    padding-left: 10%;
    padding-right: 10%;
  }

  #pic3{
    display: none;
  }

  .second-div-pictures{
    display: none;
  }
  .pic3{
    display: none;
  }

}